{% assign books = site.books | sort: 'year' %}


{% for book in books reversed %}
 {%if book.featured == true%}
  {% assign featured = book %}
  <div class="featured">
    {% assign basename = featured.id  | replace: "/books/", "" %}
    {% assign src = "./books/images/" | append: basename | append: ".jpg" %}
    <figure data-columns="2">
      <a href="{{ featured.target }}" class="book-img">
        <img loading="lazy" src="{{src | relative_url}}" alt="{{ featured.title }}">
      </a>
      <figcaption>
        <a href="{{ featured.target }}">
          <h3>{{ featured.title }}</h3>
        </a>
        <ul class="tight-list">
          <li>{{ featured.author }}, {{ featured.year }}</li>
          <li>{{ featured.location }}</li>
        </ul>
  
        <a href="{{ featured.target }}" class="cta"><span class="text">zum Buch</span><span>yeah!</span></a>
      </figcaption>
    </figure>
  </div>
  {% break %}
  {% endif %}
{% endfor %}




<ul class="book-overview">
  {% for book in books reversed %}
  {% unless book == featured %}
    <li class="book">
      {% assign basename = book.id  | replace: "/books/", "" %}
      {% assign src = "./books/images/" | append: basename | append: ".jpg" %}
      <figure>
        <a href="{{ book.target }}" class="book-img">
          <img loading="lazy" src="{{src | relative_url}}" alt="{{ book.title }}">
        </a>
        <figcaption>
          <a href="{{ book.target }}">
            <h3>{{ book.title }}</h3>
          </a>
          <ul class="tight-list">
            <li>{{ book.author }}, {{ book.year }}</li>
            <li>{{ book.location }}</li>
          </ul>

          <a href="{{ book.target }}" class="cta"><span class="text">zum Buch</span><span>yeah!</span></a>
        </figcaption>
      </figure>
    </li>
  {% endunless %}
  {% endfor %}
</ul>
