<header class="header">
  <img class="avatar" src="./images/cab-sw-normal-1x1.jpg">
  <div>
    <h1 class="title">Christian Noss</h1>
    <h2 class="subtitle">prof <a href="https://twitter.com/th_koeln">@th_koeln</a> // founder <a href="https://www.klickmeister.de/">@klickmeister</a> //   driver <a href="https://twitter.com/micologne">@micologne</a> // supporter <a href="https://twitter.com/codeandcontext">@codeandcontext</a> & <a  href="https://twitter.com/webscicologne">@webscicologne</a></h2>
  </div>
</header>