<header class="header section">
  <a href="/"><img class="avatar" src="/images/cab-sw-normal-1x1.jpg" alt="Christian with a cap on his head."></a>
  <div>
    <h1 class="title">Christian Noss</h1>
    <h2 class="subtitle">prof <a href="https://twitter.com/th_koeln">@th_koeln</a> // founder <a href="https://www.klickmeister.de/">@klickmeister</a> //   driver <a href="https://twitter.com/micologne">@micologne</a> // supporter <a href="https://twitter.com/codeandcontext">@codeandcontext</a> & <a  href="https://twitter.com/webscicologne">@webscicologne</a></h2>

  </div>

  <nav id="main">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/books.html">Bücher in der Bib</a></li>
      <li><a href="https://cnoss.github.io/thesis/">Abschlussarbeiten & -projekte</a></li>
      <li><a href="/cool-stuff.html">Ideen, Links und so</a></li>
    </ul>
  </nav>
</header>