@media only screen and (min-width: $vp-medium) {
  .header,
  .page,
  .footer {
    // max-width: $vp-xlarge;
  }
  p, blockquote {
    max-width: $max-width-text;
  }
}

// Page
// ------------------------------------------------------------------------- //
.page {
  padding-bottom: $xl;

  @media only screen and (min-width: $vp-medium) {
    padding-left: $xl;
  }
}

// Header
// ------------------------------------------------------------------------- //
.header {
  padding: $s;
  text-align: center;

  @media only screen and (min-width: $vp-medium) {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: $m;
    align-items: center;
    text-align: left;
    padding: $l;
    padding-left: $xl;
  }

  a{
    border: none;
    color: $decoration-color;
  }

  .title {
    font-size: $xl;
    font-weight: $fw-medium;
    color: $light;
    margin-bottom: $m;
  }
  .subtitle,
  .subtitle a {
    font-size: $m;
    font-weight: 300;
  }

}

// Section
// ------------------------------------------------------------------------- //
.section {
  padding: $s;
  @media only screen and (min-width: $vp-medium) {
    padding: $l;
  }
}

// Contact
// ------------------------------------------------------------------------- //
.contact {}

// Toc
// ------------------------------------------------------------------------- //
.toc {
  &__item {
    padding-top: $xs;
    padding-bottom: $xs;
    border-top: solid 1px $seperator-color;
    max-width: $max-width-text;
  }
}

// Footer
// ------------------------------------------------------------------------- //
.footer {
  background-color: $dark;
  color: $lighter;
  padding: $s;
  padding-bottom: $xl;
  @media only screen and (min-width: $vp-medium) {
    padding: $xl;

    & > div{
      margin-left: $l;
    }
  }
  a {
    color: $lighter;
  }
}

// Image Block
// ------------------------------------------------------------------------- //
// Content Block
// ------------------------------------------------------------------------- //
// Canvas
// ------------------------------------------------------------------------- //
#canvas {
  width: 100vw;
  height: 600px;
}

// Gallery
// ------------------------------------------------------------------------- //
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: $l;
  padding-top: $s;
  margin-bottom: $l;
  &__item {
    position: relative;
    overflow: hidden;
    
    &.is16by9{
      aspect-ratio: 16/9;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    iframe{
      width: 100%;
      aspect-ratio: 16/9;
    }

    figcaption{
      padding-top: $xs;

      h3{
        font-size: $m;
        font-weight: $fw-bold;
      }
    }

  }
}

// Herotext
// ------------------------------------------------------------------------- //
.herotext {
  font-size: $m;
  font-weight: $fw-normal;
  line-height: $lh-default;
  @media only screen and (min-width: $vp-medium) {
    font-size: $l;
    font-weight: $fw-normal;
  }
}

// Page Title
// ------------------------------------------------------------------------- //

.page-title{
  font-size: $xl;
  max-width: $max-width-text;
}

// brutal
// ------------------------------------------------------------------------- //
.brutal{
  font-size: clamp(2em, calc(2em + 10vw), 20em);
  font-weight: 600;
  color: $lighten;
  margin-left: -1vw;
}

.semi-brutal{
  font-size: clamp(1.2em, calc(2em + 5vw), 5em);
  font-weight: 600;
  color: $lighten;
  margin-left: -1vw;
}

// Tabelle
// ------------------------------------------------------------------------- //
table {
  table-layout: fixed;
  margin-bottom: $xl;
  width: 100%;
  th,
  td {
    text-align: left;
    font-size: $m;
    padding: $xxs;
    padding-right: $l;
    border-top: solid 1px $seperator-color;
    line-height: $lh-default;
  }
  td {
    font-weight: $fw-light;
    width: 240px;
    text-align: right;
  }
  th {
    width: 80%;
    font-weight: $fw-medium;
  }
  tfoot {
    tr {
      th,
      td {
        font-weight: $fw-bold;
      }
    }
  }
  @media only screen and (min-width: $vp-large) {
  }
}

// Taglist
// ------------------------------------------------------------------------- //
.taglist {
  margin-bottom: 0;

  &--linear{
    margin-top: $m;

    li {
      display: inline-block;
      padding-right: $s;
      margin-bottom: 0;
    }
  } 

  &--small{
    font-size: calc($m * 0.8);
  
    a{
      border-bottom: none;
    }
  }

  &__item {
    &::before {
      content: '#';
      color: $decoration-color;
    }
  }
}

// Avatar
// ------------------------------------------------------------------------- //
.avatar {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
}

// Course Overview
// ------------------------------------------------------------------------- //
.course-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: $m;
  column-gap: $m;
  padding-top: $s;
  margin-bottom: $l;

  &__item {
    position: relative;
    overflow: hidden;
    font-weight: $fw-light;
    color: $dark;
    background-color: $light;
    padding: $m $m $l $m;
    transition: background-color $tr-fast;
    display: flex;
    flex-direction: column;

    &:hover {
      background-color: $lightest;
      cursor: pointer;
    }
    a {
      font-weight: $fw-medium;
      color: $dark;
    }
    .course-overview__item-headline a {
      color: $darker;
      font-weight: $fw-medium;
      border: none;
    }
  }
}

// Feed Overview
// ------------------------------------------------------------------------- //

.feed{
  &-overview{
    padding-top: $s;
    margin-bottom: $l;
  }
  
  &-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: $m;
    column-gap: $m;
  }
  
  &__item {
    position: relative;
    overflow: hidden;
    font-weight: $fw-light;
    color: $light;
    transition: transform $tr-medium;
    display: flex;
    flex-direction: column;
    background-color: $darker;

    & > * {
      transform: scale(0.5);
      transition: transform $tr-medium;
    }

    &:hover {

      & > * {
        transform: scale(1.0);
      }
      // transform: translate(10ch);
      cursor: pointer;

      .info{
        padding: $xs $m $m $m;
      }
    }
    a {
      font-weight: $fw-medium;
      color: $light;
    }
    &-headline a {
      color: $darker;
      font-weight: $fw-bold;
    }

    .info{
      padding: $xs 0 $m 0;
      transition: padding $tr-fast;
    }

    img{
      aspect-ratio: 1/1;
      width: 100%;
      object-fit: cover;
    }
  }
}

// Image Stripe
// ------------------------------------------------------------------------- //

.image-stripe{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  & > img{
    display: block;
  }
}


// Content
// ------------------------------------------------------------------------- //

.content{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

}


// Check it out
// ------------------------------------------------------------------------- //
.check-it-out{



  &__item{
    margin-bottom: $l;

    blockquote + figcaption{
      margin-top: -$s;
      margin-bottom: $s;
      &::before{
        content: "— ";
        color: $lighten;
        font-weight: bold;
      }
    }

    a{
      font-weight: 300;
      border-width: $border-width-s;
    }

    & + &{
      &::before{
        content: ".";
        display: block;
        color: $green;
        font-weight: bold;
        margin-bottom: $l;
      }
    }
  }
}

// Is Somewhere
// ------------------------------------------------------------------------- //
.is-somewhere{

  @media only screen and (min-width: $vp-medium) {
    display: flex;
    gap: $l;
    padding-right: clamp(1em, 10vw, 20em);

    h2{
      flex-grow: 1;
      text-align: right;
    }
  }
}

// date
// ------------------------------------------------------------------------- //

h2 + .date{
  margin-top: -$m;
  font-weight: $fw-medium;
}


// Outstanding Content
// ------------------------------------------------------------------------- //

.outstanding{
  margin-top: $xl;
  background-color: $decoration-color;
  color: $lightest;
  padding: $l;
  width: fit-content;
  border-radius: $border-radius;
}

// Book Overview
// ------------------------------------------------------------------------- //
.book-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: $m;
  column-gap: $m;
  padding-top: $s;
  margin-bottom: $l;

  .book{
    &-img{
      border: none;
      background-color: $lighten;
      display: block;
      padding: $s;
      img{
        aspect-ratio: 1/1;
        object-fit: contain;
      }
    }

    h3{
      font-weight: $fw-medium;
      margin-top: $s;
      line-height: $lh-default;
    }

    .tight-list{
      li{
        margin-bottom: 0;
        font-size: $m * 0.8;
        line-height: $lh-tight;
      }
    }

    .cta{
      font-size: $m * 0.8;
    }
  }
}

// Featured
// ------------------------------------------------------------------------- //

.featured{
  padding: var(--fluid-space-l);

  h3{
    font-weight: $fw-medium;
  }
}


// Columns
// ------------------------------------------------------------------------- //

[data-columns="2"]{
  display: grid;
  row-gap: $m;

  @media only screen and (min-width: $vp-medium) {
    column-gap: $m;
    padding-top: $s;
    margin-bottom: $l;
    grid-template-columns: 1fr 1fr;
  }
}

// Main Nav
// ------------------------------------------------------------------------- //

nav#main{
  margin-top: 10vw;
  grid-column: span 2; 
  ul{
    li{
      line-height: $lh-tight;
      a{
        color: $lighten;
        font-size: $l;
        display: block;
        line-height: $lh-tight;
      }
    }
  }

  @media only screen and (min-width: $vp-medium) {
    padding-left: $xl;
    ul{
      li{
        line-height: $lh-tight;
        a{
          font-size: $xl;
          display: inline-block;
          padding-right: 0.5ch;
          &::before{
            content: "»";
            color: $pink;
            display: inline-block;
            padding-right: 0.25ch;
            transition: all $tr-fast;
          }
  
          &:hover::before{
            transform: rotate(180deg);
            padding-right: 0.5ch;
            padding-left: 0.5ch;
            color: $darker;
          }
        }
      }
    }
  }

}

// CTA
// ------------------------------------------------------------------------- //
/* CSS */

.cta {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #fff;
  display: inline-block;
  line-height: $lh-tight;
  padding: $s*0.8 $s;
  text-decoration: none;
  cursor: pointer;
  background: $pink;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cta span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 0.5);
  z-index: 10;
}

.cta span:last-child {
  color: $pink;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 12px;
  line-height: 26px;
}

.cta:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.cta:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.cta:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}


// Grid List
// ------------------------------------------------------------------------- //

.grid-list{
  dt{
    font-weight: $fw-normal;
    color: $green;
    &::after{
      content: "";
    }
  }



  @media screen and (min-width: $vp-small) {
    display: grid;
    grid-template-columns:max-content 1fr;
    column-gap: $m;

  
  }
}