@media only screen and (min-width: $vp-medium) {
  .header,
  .page,
  .footer {
    // max-width: $vp-xlarge;
  }
  p, blockquote {
    max-width: $vp-medium;
  }
}

// Page
// ------------------------------------------------------------------------- //
.page {
  padding-bottom: $xl;

  @media only screen and (min-width: $vp-medium) {
    padding-left: $xl;
  }
}

// Header
// ------------------------------------------------------------------------- //
.header {
  padding: $s;
  text-align: center;

  @media only screen and (min-width: $vp-medium) {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: $m;
    align-items: center;
    text-align: left;
    padding: $l;
    padding-left: $xl;
  }

  .title {
    font-size: $xl;
    font-weight: $fw-medium;
    color: $light;
    margin-bottom: $m;
  }
  .subtitle,
  .subtitle a {
    font-size: $l;
    color: $lighten;
  }

}

// Section
// ------------------------------------------------------------------------- //
.section {
  padding: $s;
  @media only screen and (min-width: $vp-medium) {
    padding: $l;
  }
}

// Contact
// ------------------------------------------------------------------------- //
.contact {}

// Toc
// ------------------------------------------------------------------------- //
.toc {
  &__item {
    padding-top: $xs;
    padding-bottom: $xs;
    border-top: solid 1px $seperator-color;
    max-width: $vp-medium;
  }
}

// Footer
// ------------------------------------------------------------------------- //
.footer {
  background-color: $dark;
  color: $lighter;
  padding: $s;
  padding-bottom: $xl;
  @media only screen and (min-width: $vp-medium) {
    padding: $xl;

    & > div{
      margin-left: $l;
    }
  }
  a {
    color: $lighter;
  }
}

// Image Block
// ------------------------------------------------------------------------- //
// Content Block
// ------------------------------------------------------------------------- //
// Canvas
// ------------------------------------------------------------------------- //
#canvas {
  width: 100vw;
  height: 600px;
}

// Gallery
// ------------------------------------------------------------------------- //
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: $m;
  column-gap: $m;
  padding-top: $s;
  margin-bottom: $l;
  &__item {
    position: relative;
    overflow: hidden;
    
    &::before {
      content: "";
      padding-bottom: 100%;
      display: block;
    }
    &.is16by9::before {
      padding-bottom: 56.25%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Herotext
// ------------------------------------------------------------------------- //
.herotext {
  font-size: $m;
  font-weight: $fw-normal;
  line-height: $lh-default;
  @media only screen and (min-width: $vp-medium) {
    font-size: $l;
    font-weight: $fw-normal;
  }
}

// brutal
// ------------------------------------------------------------------------- //
.brutal{
  font-size: clamp(2em, calc(2em + 10vw), 20em);
  font-weight: 600;
  color: $lighten;
  margin-left: -1vw;
}

// Tabelle
// ------------------------------------------------------------------------- //
table {
  table-layout: fixed;
  margin-bottom: $xl;
  width: 100%;
  th,
  td {
    text-align: left;
    font-size: $m;
    padding: $xxs;
    padding-right: $l;
    border-top: solid 1px $seperator-color;
    line-height: $lh-default;
  }
  td {
    font-weight: $fw-medium;
    width: 240px;
    text-align: right;
  }
  th {
    width: 80%;
    font-weight: $fw-light;
  }
  tfoot {
    tr {
      th,
      td {
        font-weight: $fw-bold;
      }
    }
  }
  @media only screen and (min-width: $vp-small) {
    width: 80%;
  }
  @media only screen and (min-width: $vp-large) {
    width: 50%;
  }
}

// Taglist
// ------------------------------------------------------------------------- //
.taglist {
  &--linear li {
    display: inline-block;
  }
  &__item {
    &::before {
      content: '#';
      color: $decoration-color;
    }
  }
}

// Avatar
// ------------------------------------------------------------------------- //
.avatar {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
}

// Course Overview
// ------------------------------------------------------------------------- //
.course-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: $m;
  column-gap: $m;
  padding-top: $s;
  margin-bottom: $l;

  &__item {
    position: relative;
    overflow: hidden;
    font-weight: $fw-light;
    color: $dark;
    background-color: $light;
    padding: $m $m $l $m;
    transition: background-color $tr-fast;
    display: flex;
    flex-direction: column;

    &:hover {
      background-color: $lightest;
      cursor: pointer;
    }
    a {
      font-weight: $fw-medium;
      color: $dark;
    }
    .course-overview__item-headline a {
      color: $darker;
      font-weight: $fw-medium;
      border: none;
    }
  }
}

// Feed Overview
// ------------------------------------------------------------------------- //

.feed{
  &-overview{
    padding-top: $s;
    margin-bottom: $l;
  }
  
  &-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: $m;
    column-gap: $m;
  }
  
  &__item {
    position: relative;
    overflow: hidden;
    font-weight: $fw-light;
    color: $light;
    transition: transform $tr-medium;
    display: flex;
    flex-direction: column;
    background-color: $darker;

    & > * {
      transform: scale(0.5);
      transition: transform $tr-medium;
    }

    &:hover {

      & > * {
        transform: scale(1.0);
      }
      // transform: translate(10ch);
      cursor: pointer;

      .info{
        padding: $xs $m $m $m;
      }
    }
    a {
      font-weight: $fw-medium;
      color: $light;
    }
    &-headline a {
      color: $darker;
      font-weight: $fw-bold;
    }

    .info{
      padding: $xs 0 $m 0;
      transition: padding $tr-fast;
    }

    img{
      aspect-ratio: 1/1;
      width: 100%;
      object-fit: cover;
    }
  }
}

// Image Stripe
// ------------------------------------------------------------------------- //

.image-stripe{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  & > img{
    display: block;
  }
}


// Content
// ------------------------------------------------------------------------- //

.content{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

}


// Check it out
// ------------------------------------------------------------------------- //
.check-it-out{

  &-overview{
    margin-top: $xs + $xs /2;
  }

  &__item{
    margin-bottom: $s;

    blockquote + figcaption{
      margin-top: -$s;
      margin-bottom: $s;
      &::before{
        content: "— ";
        color: $lighten;
        font-weight: bold;
      }
    }

    a{
      font-weight: 300;
      border-width: $border-width-s;
    }

    & + &{
      &::before{
        content: "--- ";
        display: block;
        color: $green;
        font-weight: bold;
        margin-bottom: $s;
      }
    }
  }
}

// Is Somewhere
// ------------------------------------------------------------------------- //
.is-somewhere{

  @media only screen and (min-width: $vp-medium) {
    display: flex;
    gap: $l;
    padding-right: clamp(1em, 10vw, 20em);

    h2{
      flex-grow: 1;
      text-align: right;
    }
  }
}


