.text{
  max-width: 120ch;
  padding-right: $xxl;

  .herotext{
    margin-top: $xl;
    margin-bottom: $xxl;
    color: $green;
  }

  ul{
    li{
      margin-left: 2ch;
      &::before{
        content: "»";
        display: inline-block;
        margin-left: -2ch;
        padding-right: 0.5ch;
        color: $green;
        width: 1.5ch;
      }
    }

    padding-bottom: $l;
  }

  ol{
    li{
      margin-bottom: $s;
    }

    padding-bottom: $l;
  }

  .block{
    margin-bottom: $l;
  }

  p{
    margin-bottom: $m;;
  }

  hr{
    background-color: transparent;
    border: none;
    border-top: dotted $green 3px;
    margin-top: $xl;
    margin-bottom: $xl;
  }

  h3{
    font-size: $l;
    font-weight: $fw-normal;
    margin-bottom: $l;
  }

  h4{
    padding-top: $s;
  }

  .date{
    font-size: $m;
  }

  a{
    font-weight: $fw-normal;
  }

}